= link_to new_post_path(kind), remote: true, class: "btn-floating add #{kind} tooltipped #{colour}", data: { position: :left, delay: "50", tooltip: t("activemodel.attributes.post.kinds.#{kind}") }
  i.material-icons #{icon}
