a.btn-floating.change class="tooltipped #{colour}" data-position="bottom" data-delay="50" data-tooltip="#{t("activemodel.attributes.post.kinds.#{kind}")}"
  i.material-icons data-kind="#{kind}" data-icon="#{icon}" #{icon}
